.carousels{
	position:relative
}
.carousel-inners{
	position:relative;
	overflow:hidden;
	width:100%;
	max-width: 300px;
}
.carousel-inners>.item{
	display:none;
	position:relative;
	-webkit-transition:.6s ease-in-out left;
	transition:.6s ease-in-out left
}

.carousel-inners>.item>img,.carousel-inners>.item>a>img{
	line-height:1
}

.carousel-inners>.active,.carousel-inners>.next,.carousel-inner>.prev{
	display:block
}

.carousel-inners>.active{
	left:0
}

.carousel-inners>.next,.carousel-inners>.prev{
	position:absolute;
	top:0;
	width:100%
}

.carousel-inners>.next{
	left:100%
}

.carousel-inners>.prev{
	left:-100%
}

.carousel-inner>.next.left,.carousel-inner>.prev.right{
	left:0
}

.carousel-inners>.active.left{
	left:-100%
}

.carousel-inners>.active.right{
	left:100%
}

.carousel-controls{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	width:15%;
	opacity:.5;
	filter:alpha(opacity=50);
	font-size:20px;
	color:#fff;
	text-align:center;
	text-shadow:0 1px 2px rgba(0,0,0,.6)
}

.carousel-controls.lefts{
	background-image:-webkit-linear-gradient(left,color-stop(rgba(142, 185, 255, 0.5) 0),color-stop(rgba(142, 185, 255,.0001) 100%));
	background-image:linear-gradient(to right,rgba(142, 185, 255,.5) 0,rgba(142, 185, 255,.0001) 100%);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1)
}

.carousel-controls.rights{
	left:auto;
	right:0;
	background-image:-webkit-linear-gradient(left,color-stop(rgba(142, 185, 255,.0001) 0),color-stop(rgba(142, 185, 255,.5) 100%));
	background-image:linear-gradient(to right,rgba(142, 185, 255,.0001) 0,rgba(142, 185, 255,.5) 100%);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1)
}

.carousel-controls:hover,.carousel-controls:focus{
	outline:0;
	color:#fff;
	text-decoration:none;
	opacity:.9;
	filter:alpha(opacity=90)
}

.carousel-controls .icon-prev,.carousel-controls .icon-next,.carousel-controls .glyphicon-chevron-left,.carousel-controls .glyphicon-chevron-right{
	position:absolute;
	top:50%;
	z-index:5;
	display:inline-block
}

.carousel-controls .icon-prev,.carousel-control .glyphicon-chevron-left{
	left:50%
}

.carousel-controls .icon-next,.carousel-control .glyphicon-chevron-right{
	right:50%
}

.carousel-controls .icon-prev,.carousel-control .icon-next{
	width:20px;
	height:20px;
	margin-top:-10px;
	margin-left:-10px;
	font-family:serif
}

.carousel-controls .icon-prev:before{
	content:'\2039'
}

.carousel-controls .icon-next:before{
	content:'\203a'
}

.carousel-indicatorss{
	position:absolute;
	bottom:10px;
	left:50%;
	z-index:15;
	width:60%;
	margin-left:-30%;
	padding-left:0;
	list-style:none;
	text-align:center
}

.carousel-indicatorss li{
	display:inline-block;
	width:10px;
	height:10px;
	margin:1px;
	text-indent:-999px;
	border:1px solid #fff;
	border-radius:10px;
	cursor:pointer;
	background-color:#000 \9;
	background-color:rgba(0,0,0,0)
}

.carousel-indicatorss .active{
	margin:0;
	width:12px;
	height:12px;
	background-color:#fff
}

.carousel-captions{
	position:absolute;
	left:15%;
	right:15%;
	bottom:20px;
	z-index:10;
	padding-top:20px;
	padding-bottom:20px;
	color:#fff;
	text-align:center;
	text-shadow:0 1px 2px rgba(0,0,0,.6)
}

.carousel-captions .btn{
	text-shadow:none
}

@media screen and (min-width:768px){
	.carousel-controls .glyphicon-chevron-left,.carousel-controls .glyphicon-chevron-rights,.carousel-controls .icon-prev,.carousel-controls .icon-next{
		width:30px;
		height:30px;
		margin-top:-15px;
		margin-left:-15px;
		font-size:30px
	}

	.carousel-captionss{
		left:20%;
		right:20%;
		padding-bottom:30px
	}

	.carousel-indicatorss{
		bottom:20px
	}

}
